<header class="p-3 text-bg-dark">
    <div class="container" bis_skin_checked="1">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
             bis_skin_checked="1"><a href="/blogs"
                                     class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <h5 class="me-2 my-0 mr-md-auto font-weight-normal">Главная</h5>
        </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Мой блог</a></li>
                <li><a href="{% url 'blog:blog_create' %}" class="nav-link px-2 text-white">Добавить запись</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"><input type="search"
                                                                                       class="form-control form-control-dark text-bg-dark"
                                                                                       placeholder="Поиск..."
                                                                                       aria-label="Search"></form>
            <div class="text-end" bis_skin_checked="1">
                <button type="button" class="btn btn-outline-light me-2">Вход</button>
                <button type="button" class="btn btn-warning">Регистрация</button>
            </div>
        </div>
    </div>
</header>