DJANGO_SECRET_KEY= # Ваш секретный ключ Django
DJANGO_DEBUG= # Режим дебага (True/False)

DB_NAME= # Название базы данных
DB_USER= # Имя пользователя базы данных
DB_PASSWORD= # Пароль пользователя базы данных
DB_HOST= # Адрес базы данных
DB_PORT= # Порт базы данных

CACHE_ENABLED= # Режим кеширования (True/False)
LOCATION= # Адрес базы Redis

EMAIL_HOST_USER= # Почта пользователя
EMAIL_PASSWORD_USER= # Пароль от почты пользователя