{% extends 'base_catalog.html' %}
{% load my_tags %}

{% block title %}Описание товара{% endblock %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">E-Shop</h1>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{product.price}} руб</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                        <img height="200"
                             src="{% if product.image %}{{product.image | show_product_photo}}{% else %}/media/catalog/photo/no_found.jpg{% endif %}">
                        <li> Категория: {{product.category}}</li>
                        <li>Описание: {{product.description|default:'отсутствует'}}</li>
                    </ul>
                    <a type="button" class="btn btn-outline-primary" href="{% url 'catalog:product_list' %}">На главную</a>

                    {% if user == product.owner %}
                    <a type="button" class="btn btn-secondary" href="{% url 'catalog:product_update' product.pk %}">Изменить</a>
                    {% endif %}

                    {% if perms.catalog.can_unpublish_product or user == product.owner %}
                    <a type="button" class="btn btn-danger" href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}